//= components/head
<body class="page page-student inverted">
<div class="pace"></div>
//= components/header
<div class="content-wrapper">
	<div class="content">
		//= components/student
	</div>
</div>
//= components/footer
