<nav class="header-nav">
	<div class="menu">
		<ul>
			<li class="separate"><a class="selected" href="/about.html">About Liveness</a></li>
			<li class="separate"><a href="/events.html">Events</a></li>
			<li><span>Art</span>
				<div class="menu submenu submenu-1">
					<div class="submenu__header">
						<span class="submenu__back"></span>
						<span>Art</span>
					</div>
					<ul>
						<li><span>Fine Art</span>
							<div class="menu submenu submenu-2">
								<div class="submenu__header">
									<span class="submenu__back"></span>
									<span>Fine Art</span>
								</div>
								<ul>
									<li><a href="#">Fine Art 1</a></li>
									<li><a href="#">Fine Art 2</a></li>
								</ul>
							</div>
						</li>
						<li><span>Art of 2</span></li>
						<li><span>Art of 2</span></li>
						<li class="separate"><span>Art of 2</span></li>
						<li><span>Art of 2</span></li>
						<li><span>Art of 2</span></li>
						<li><span>Art of 2</span></li>
						<li><span>Art of 2</span></li>
					</ul>
				</div>
			</li>
			<li><span>Architecture</span></li>
			<li><span>Design</span></li>
			<li><span>Culture</span></li>
		</ul>
		<img src="./static/img/logos/londonmet_logo_white.svg" alt="London Met Logo">
	</div>
</nav>
<header class="header">
	<div class="header__main-links">
		<a class="menu-open" href="#top-menu">Menu</a>
		<!-- add active class to parent-area to make arrow become black -->
		<a class="parent-area" href="#">
			<span class="svg">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93.8 117.6"><path d="M93.8 46.1L46.9 0 0 46.1l6.3 6.4L42.4 17v100.7h9V17l36 35.5z"/></svg>
			</span>
			Parent Area
		</a>
		<a class="pull-footer" href="#"><span>Pull up Footer</span></a>
	</div>
</header>
