<div class="block text-block">
	<h1>Noah Baruti</h1>
</div>
<div class="block text-block arrowed">
	<h2><a href="#" class="title">Architecture Part II<br>
		Unit 5: Frankenstein’s Wig</a></h2>
</div>
<div class="block text-block arrowed">
	<p>
		‘Through this library, students can learn about the interwoven themes that are unraveled throughout documenta 14,
		including migration, colonialism, tradition, economy, ecology, and technology.’
	</p>
</div>
<div class="block"></div>
<div class="block text-block">
	<h2><a href="#" class="title">Noah's Portfolio</a></h2>
	<img src="/static/img/tmp/img_plhdr.jpg" alt="Placeholder">
</div>
<div class="block links arrowed">
	<div class="title">Find Noah on</div>
	<ul>
		<li><a href="#">Facebook</a></li>
		<li><a href="#">Instagram</a></li>
		<li><a href="#">TikTok</a></li>
	</ul>
</div>
