body {
    overflow-x: hidden;
}
a {
    font-size: inherit;
}
.bar {
    @include position(absolute, 0 null null 0);
    height: 28px;
    background-color: var(--white);
    z-index: 2000;
    display: none;
}
.content-wrapper {
    position: absolute;
    z-index: 5;
    overflow-x: hidden;
    min-height: 100vh;
    &.fixed {
        position: fixed;
        z-index: 0;
        bottom: 0;
    }
}

.arrowed {
    &:before {
        content: '';
        @include size(100%,70px);
        display: block;
        background-image: url('../img/graphics/arrow_down.svg');
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {
    .arrowed, .arrowed-container {
        &:before {
            height: 50px;
            margin-bottom: 30px;
        }
    }
    .arrowed-container {
        margin-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .arrowed, .arrowed-container {
        &:before {
            height: 35px;
            margin-bottom: 30px;
        }
    }
    .arrowed-container {
        margin-top: 50px;
    }
}
