.footer {
    @include position(absolute, 0 0 null 0);
    z-index: 2;
    pointer-events: none;
    .footer-content {
        position: relative;
        color: #ffffff;
        min-height: 100vh;
        background-color: $main;
        padding: 0 60px 60px;
    }
    &.for-pull-up {
        @include position(fixed, 100vh 0 null 0);
        z-index: 20;
        padding-top: 0 !important;
        overflow-y: scroll;
        height: 100%;
    }
    .close-footer {
        position: sticky;
        padding-top: 40px;
        text-align: right;
        top: 0;
        pointer-events: all;
        span {
            position: relative;
            z-index: 10;
            display: none;
            transform: translate(30px, -20px);
            &.visible {
                display: inline-block;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .footer-content {
            padding: 0 40px 40px;
        }
    }
}
