$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1024px,
        xl: 1280px
);

//TODO check default width
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1160px
);

$grid-gutter-width: 40px !default;

@import "../../../node_modules/bootstrap/scss/bootstrap";
