.header {
    font-family: $font-three;
    height: 78px;
    background-color: rgb(239, 239, 239);
    @include position(fixed, 0 0 null 0);
    z-index: 10;
    transition: all .5s ease;
    &__main-links {
        font-family: $font-three;
        height: 100%;
        padding: 0 40px;
        @include displayFlex(space-between, center);
        a {
            color: #000000;
            font-size: 40px;
            text-decoration: none;
        }
        .menu-open {
            flex-grow: 1;
        }
        .parent-area {
            flex-grow: 7;
            display: flex;
            align-items: center;
            .svg {
                display: inline-block;
                margin-right: 30px;
                @include size(46px, 46px);
                svg {
                    display: block;
                    width: 100%;
                    height: 100%;
                    path {
                        fill: lightgrey;
                    }
                }
            }
            &.active {
                .svg {
                    svg {
                        path {
                            fill: #000000;
                        }
                    }
                }
            }
        }
        .pull-footer {
            display: flex;
            align-items: center;
            &:before {
                content: '';
                display: inline-block;
                @include size(46px, 46px);
                margin-right: 30px;
                background-image: url('../img/graphics/arrow_down.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &.hidden {
        top: -100%
    }
}
.header-nav {
    font-family: $font-three;
    @include position(fixed, 0 null 0 -100%);
    z-index: 999;
    //min-height: 100vh;
    $width: 600px;
    max-width: $width;
    width: 80%;
    overflow-y: scroll;
}
.menu {
    padding: 10px 50px;

    background-color: $main;
    min-height: 100vh;
    //overflow-y: scroll;
    &.opened {
        transform: translateX(0);
    }
    &.inactive {
        //overflow-y: unset;
    }
    ul {
        padding: 0;
        li {
            list-style-type: none;
            &.separate  {
                margin-top: 50px;
                margin-bottom: 50px;
            }
        }
    }
    a, span {
        display: inline-block;
        color: #ffffff !important;
        text-decoration: none !important;
        font-size: 50px;
        line-height: 60px;
        padding-left: .3em;
        text-indent: -.3em;
        &:hover {
            cursor: pointer;
        }
    }
    img {
        margin-top: 1em;
        max-width: 280px;
    }
}
.submenu-1 {
    background-color: #000000;
    z-index: 2;
}
.submenu-2 {
    background-color: #FFFFFF;
    z-index: 3;
    border-right: 1px solid rgba(0,0,0,.2);
    a, span {
        color: #000000 !important;
    }
    .submenu__back {
        background-image: url('../img/graphics/arrow_left.svg');
    }
}
.submenu {
    width: 100%;
    @include position(absolute, 0 null null -100%);
    padding: 50px;
    &__header {
        display: flex;
        margin-bottom: .3em;
        span {
            line-height: 1em;
        }
    }
    &__back {
        @include size(100%, .9em);
        background-image: url('../img/graphics/arrow_left_white.svg');
        background-repeat: no-repeat;
        background-size: 1em 1em;
        background-position: left center;
        background-clip: border-box;
        margin-right: .5em;
        padding-left: 1.8em !important;
        span {
            padding-left: 0 !important;
            text-indent: 0 !important;
        }
    }
}
.a-z {
    display: inline-block;
    background-image: url('../img/graphics/loupe.svg');
    background-repeat: no-repeat;
    background-size: .9em;
    background-position: right;
    padding-right: 1.5em;

}

@media screen and (max-width: 1024px) {
    .header {
        height: 49px;
        &__main-links {
            a {
                font-size: 22px;
            }
            .pull-footer:before, .parent-area .svg {
                    @include size(25px, 25px);
                    margin-right: 10px;
                }
        }
        .menu {
            padding: 10px 40px;
        }
    }
}

@media screen and (max-width: 560px) {
    .header {
        &__main-links {
            .parent-area {
                display: none;
            }
            .pull-footer {
                span {
                    display: none;
                }
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
    .menu {
        padding: 5px 20px;
        a, span {
            font-size: 30px;
            line-height: 40px;
        }
        ul {
            li {
                &.separate {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
