.page-events {
    background-color: #000000;
    color: #FFFFFF;
    &.page {
        .text-block {
            h2 {
                font-size: 2.1em;
            }
            .link {
                color: #FFFFFF;
                text-decoration: underline;
            }
        }
    }
}

.event {
    line-height: 1.5;
    margin-bottom: 2em;
    font-size: .9em;
    a {
        color: #FFFFFF;
        img {
            margin-bottom: .5em;
        }
    }
    .time {
        display: block;
    }
    .tags {
        a {
            display: inline-block;
            font-size: .6em;
            margin: 10px 15px 10px 0;
        }
    }
}
