.bg {
    @include position(fixed, 0 0 0 0);
    z-index: -1;
}

.homepage {
    width: 100vw;
    height: 100vh;
    @include displayFlex();

    h1 {
        color: var(--white);
        font-size: 5em;
        text-transform: uppercase;
    }

    &__video {
        @include position(absolute, 0 0 0 0);
        z-index: -1;
        overflow: hidden;

        video {
            min-width: 100%;
            min-height: 100%;
        }

        //img {
        //    min-width: 100%;
        //    min-height: 100%;
        //}
    }
}

.page-homepage {
    background-color: #EFEFEF;
}

.wave {
    width: 1600px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-three;
}

.element {
    &:nth-of-type(9n + 1) {
        width: 75%;
    }

    &:nth-of-type(9n + 2) {
        width: 80%;
    }

    &:nth-of-type(9n + 3) {
        width: 85%;
    }

    &:nth-of-type(9n + 4) {
        width: 90%;
    }

    &:nth-of-type(9n + 5) {
        width: 95%;
    }

    &:nth-of-type(9n + 6) {
        width: 90%;
    }

    &:nth-of-type(9n + 7) {
        width: 85%;
    }

    &:nth-of-type(9n + 8) {
        width: 80%;
    }
}

.cta-holder {
    position: relative;
    @include displayFlex();
}

.title-screen {
    position: relative;
    min-height: calc(100vh);
    padding: 3em 20px;
    color: #FFFFFF;
    line-height: 1.3;
    &:before {
        content: '';
        @include size(300%, 100%);
        @include position(absolute, 0 null 0 -100%);
        background-color: $main;
        z-index: -1;
    }
    img {
        max-width: 400px;
        margin-bottom: 1.5em;
    }
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 6em;
    }
}
